[submodule "thirdparty/Celero"]
	path = thirdparty/Celero
	url = https://github.com/DigitalInBlue/Celero
	branch = v2.1.0
[submodule "thirdparty/pycelerograph"]
	path = thirdparty/pycelerograph
	url = https://github.com/mloskot/pycelerograph
